body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#join-screen {
    margin-top: 100px;
}

#participant-view {
    margin-top: 20px;
}

#videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#controls {
    margin-top: 20px;
}
